node_modules/
backend/node_modules/
.env
cache/
artifacts/
backend/artifacts/
# backend/abis/ (Check in ABIs for production)
backend/deployedAddresses.json
*.log
.DS_Store
coverage/
typechain/
typechain-types/
